.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

h1 {
  margin: 0;
  padding: 20px 0;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  margin-left: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}